@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    <li>
        <div class="dropdown">
            <a class="btn nav-link text-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                sprog
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a asp-controller="home" asp-action="Index"><img src="@("~/image/dan.png")" asp-append-version="true" width="20px" height="50px" class="dropdown-item text-dark" /></a></li>
                <li><a asp-controller="home" asp-action="Japan"><img src="@("~/image/jap.png")" asp-append-version="true" width="20px" height="50px" class="dropdown-item text-dark" /></a></li>
                <li><a asp-controller="home" asp-action="Engelsk"><img src="@("~/image/brit.png")" asp-append-version="true" width="20px" height="50px" class="dropdown-item text-dark" /></a></li>
            </ul>
        </div>
    </li>
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
